@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
}
p{
  margin: 0 !important;
}

.app {
  min-width: 80px !important;
  height: 25px !important;

}
.app__icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}